.field-body input[type=date], .field-body input[type=date]:active, 
.field-body input[type=email], .field-body input[type=email]:active, 
.field-body input[type=number], .field-body input[type=number]:active, 
.field-body input[type=tel], .field-body input[type=tel]:active,
.field-body input[type=text], .field-body input[type=text]:active, 
.field-body input[type=time], .field-body input[type=time]:active, 
.field-body textarea, .field-body textarea:active {
 background-color: #fff !important;
}
.theme-3_color-3 .wrap-calc #viewing_panel.fields .field.field-select select{
background-color: #fff !important;	
}
.wrap-calc, .theme-3_color-3 .wrap-calc #viewing_panel.fields{
max-width: 100% !important;
}
.theme-3_color-3 .wrap-calc #viewing_panel.fields .field .rangeslider .rangeselector{
    background-color: #e53d35 !important;
    border: 2px solid #e53d35 !important;
}
.theme-3_color-3 .wrap-calc #viewing_panel.fields .field .rangeslider .rangeinner{
	    background-color: #e53d35 !important;
}
.theme-3_color-3 .wrap-calc #viewing_panel.fields .field .rangeslider .slider-line__num:before{
	background-color: #e53d35 !important;
}
.theme-3_color-3 .wrap-calc #viewing_panel.fields .field .rangeslider .slider-line__num--active{
	color: #e53d35 !important;
}
.theme-3_color-3 .wrap-calc #viewing_panel.fields .field input[type=radio]:checked+label:before{
	background-color: #e53d35 !important;
}
.theme-3_color-3 .wrap-calc .button-design{
	    border: 2px solid #202020 !important;
    background-color: #202020;
}
.theme-3_color-3 .wrap-calc .button-design:hover{
	color: #202020 !important;
    border: 2px solid #202020 !important;
}
.theme-3_color-3 .wrap-calc #viewing_panel.fields .field input[type=radio]+label:before{
	background: #eadada !important;
}